
{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="headerrow">
        <div class="socialheader">
            {% if pages|length > 1 %}
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    {% endif %}
            {{widget('profile', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>
    </div>
    <div class="companyheader clearfix">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        {{widget('content', 'headercontent', {"content":"<p>Bar & Grill House</p>"})|raw}}
    </div>       
</header>

<div class="menu-container">
    <div class="wrapper clearfix">
        {{widget('menusections', 'menusections1', {})|raw}}
    </div>
</div>

<div class="wrapper clearfix">
    {{widget('menu', 'menu1', {})|raw}}
</div>

    <footer class="bk-footer">
        {{widget('companyaddress', 'companyaddress', {})|raw}}
        {{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
    </footer>

{% endblock %}
